*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.logoKMUTT {
    margin: 0px;
    width: 400px;
    margin-top: 6px;
    margin-left: 5px;
}

.guidepointpic {
    margin-left: 50px;
    margin-right: 50px;
    width: 300px;
}

.userhome {
    margin-top: 1cm;
    margin-left: 4%;
    margin-right: 4%;
}

.userprofile {
    margin-top: 1cm;
    margin-left: 4%;
    margin-right: 4%;
}

.userprofile h1 {
    font-weight: bold;
}

.userprofile h2 {
    margin-left: 1%;
    font-weight: bold;
}

.userassessment {
    margin-top: 1cm;
    margin-left: 4%;
    margin-right: 4%;
}

.userassessment h1{
    font-weight: bold;
}

.userform {
    margin-top: 1cm;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
}

.userform h1 {
    font-weight: bold;
}

.userform1 {
    margin-top: 1cm;
    margin-left: 1%;
    margin-right: 1%;
}

.userform1 h1 {
    font-weight: bold;
}

.userform1 h2 {
    margin-left: 1%;
    font-weight: bold;
}

.userform2 {
    margin-top: 1cm;
    margin-left: 1%;
    margin-right: 1%;
}

.userform2 h1 {
    font-weight: bold;
}

.userform3 {
    margin-top: 1cm;
    margin-left: 1%;
    margin-right: 1%;
}


.userform3 h1 {
    font-weight: bold;
    /* font-size: 2rem; */
}

.userform3 p {
    margin-top: 1%;
    margin-bottom: 1%;
}

.userresult{
    margin-top: 1cm;
    margin-left: 4%;
    margin-right: 4%;
}

.userresult h1,h2{
    font-weight: bold;
}

.headrow {
    padding-top: 15px;
    padding-left: 4%;
    color: #4F4E4E;
}

.inrow {
    padding-top: 10px;
    padding-left: 4%;
    color: #000000;
    font-weight: bold;
}

.card {
    background-color: whitesmoke;
    display: block;
    margin: 20px auto;
    padding: 30px;
}

/* วแบบนี้ไม่เเนะนำ มันจะเปี่ยน ทุก table ใน app */
.ant-table-thead > tr > th {
    background: #F04D22 !important;
    color: white !important;
}

.buttons_add {
    outline: none !important;
    background: white;
    border: 2px solid #F6BE32;
    font-size: 15px;
    border-radius:20px;
    margin-right:auto;
    text-align: center;
    padding:4px 15px;
    margin-top: 1%;
}

.buttons_add:hover {
    background: #F6BE32;
}

.buttons_upload {
    color: black;
    border: 1px solid #F6BE32;
}

.buttons_upload:hover {
    color: white;
    border: 1px solid #F6BE32;
    background: #F6BE32;
}

.buttons_upload:focus {
    color: white;
    border: 1px solid #F6BE32;
    background: #F6BE32;
}

.buttons_form2_1 {
    outline: none !important;
    background: #F6BE32;
    border: 2px solid #F6BE32;
    font-size: 15px;
    border-radius:20px;
    text-align: center;
    padding:4px 11px;
}

.buttons_form2_1:hover {
    background: white;
}

.buttons_form2_2 {
    outline: none !important;
    background: #F6BE32;
    border: 2px solid #F6BE32;
    font-size: 15px;
    border-radius:20px;
    text-align: center;
    padding:4px 15px;
}

.buttons_form2_2:hover {
    background: white;
}

.control-buttons {
    margin-bottom: 10px;
}

.input {
    margin: 1;
}

.ant-btn {
    border-radius:20px !important;
    -webkit-border-radius:20px !important;
    -moz-border-radius:20px !important;
    -ms-border-radius:20px !important;
    -o-border-radius:20px !important;
}

.textbox {
    background-color: #E7E5E3;
}

.textbox:hover {
    border: 1.5px solid #f26843;
}

.textbox:focus {
    outline: none !important;
    box-shadow: 0 0 4px #f26843;
    border: 1.5px solid #f26843;
    background-color: #E7E5E3;
}

.editable-cell-value-wrap {
    position: relative;
    
}

.editable-cell-value-wrap:hover {
    border: 1.5px solid #f26843 !important;
}

.editable-row .editable-cell-value-wrap {
    border-radius: 4px;
    background-color: #E7E5E3;
    padding: 5px 12px;
    cursor: pointer;
}

.ant-btn-sm {
    border: #FDC331 solid 1.5px !important; 
 }
 
 .ant-btn-sm:hover {
     color: black;
     border: #f26843 solid 1.5px !important;
  }
 
 .ant-btn-primary {
   background-color: #FDC331;
   border: #FDC331 solid 1.5px !important; 
 }
 
 .ant-btn-primary:hover {
     background-color: #f26843;
     border: #f26843 solid 1.5px !important;
     color: white;
   }



