/* * {
  font-size: 1rem;
} */

p {
  margin: 0;
}

.buttons_add {
  outline: none !important;
  background: white;
  border: 2px solid #F6BE32;
  font-size: 15px;
  border-radius:20px;
  margin-right:auto;
  text-align: center;
  padding:4px 15px;
  margin-top: 1%;
}

.buttons_add:hover {
  background: #F6BE32;
}

.buttons_disable {
    pointer-events: none;
    outline: none !important;
    background: none;
    border: none;
    font-size: 15px;
    margin-right:auto;
    text-align: center;
    padding:4px 15px;
    margin-top: 1%;
}

/* Table Ant design Committee */
.committeeTable .ant-table thead > tr > th {
  background-color: #f26843 !important;
}

.committeeTable .ant-table-cell-scrollbar {
  /* box-shadow: 0 1px 0 1px #f26843 !important; */
  box-shadow: none !important;
}

.committeeInput .ant-input-group > .ant-input {
  background-color: #e9e9e9;
}

.committeeInput .ant-input:hover {
    background-color: #e9e9e9;
    border: 1.5px solid #f26843 !important;
  }

.committeeInput .ant-input:focus {
    background-color: #e9e9e9;
    outline: none !important;
    box-shadow: 0 0 4px #f26843;
    border: 1.5px solid #f26843 !important;
}

.committeeInput .ant-btn {
  background-color: #e9e9e9;
}

.committeeInput .ant-btn:hover {
    background-color: #e9e9e9;
    border: 1.5px solid #f26843 !important;
}

.committeeInput .ant-btn:focus,.ant-btn:active {
    background-color: #e9e9e9;
    outline: none !important;
    box-shadow: 0 0 4px #f26843;
    border: 1.5px solid #f26843 !important;
}

.btnCommitteeDisable {
  border: none;
  border-radius: 20px;
  padding: 5px;
  background-color: #c6c6c6;
  color: white;
  cursor: no-drop;
}

.btnCommittee {
  border: 1px solid white;
  border-radius: 20px;
  padding: 5px;
  background-color: #f26843;
  color: white;
  cursor: pointer;
}

.btnCommittee:hover {
  border: 1px solid #f26843;
  border-radius: 20px;
  padding: 5px;
  background-color: transparent;
  color: black;
  cursor: pointer;
}

.committeeSteps .ant-steps-item-finish .ant-steps-item-icon {
  background-color: #fdc331;
  border-color: transparent;
}

.committeeSteps .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: black;
}

.btnCancel {
  padding: 5px;
  border-radius: 20px;
  border: 1px solid #f6be32;
  background-color: white;
  cursor: pointer;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.btnCancel:hover {
  border-radius: 20px;
  border: 1px solid white;
  background-color: #f6be32;
  color: white;
  cursor: pointer;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.btnConfirm {
  padding: 5px;
  border-radius: 20px;
  border: 1px solid #f6be32;
  background-color: white;
  cursor: pointer;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.btnConfirm:hover {
  border-radius: 20px;
  border: 1px solid white;
  background-color: #f6be32;
  color: white;
  cursor: pointer;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.btnConfirmDis {
  padding: 5px;
  border-radius: 20px;
  border: 1px solid #c6c6c6;
  background-color: #c6c6c6;
  cursor: no-drop;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.committee2Btn {
  border-radius: 20px;
  border: 1px solid #f6be32;
  background-color: white;
  color: black;
  cursor: pointer;
}

.committee2Btn:hover {
  border-radius: 20px;
  border: 1px solid white;
  background-color: #f6be32;
  color: white;
  cursor: pointer;
}

/* Table Ant design Assess2 */
.committeeTableAssess2 .ant-table-title {
  background-color: #e4e4e4 !important;
}

.committeeTableAssess2 .ant-table thead > tr > th {
  background-color: #e4e4e4 !important;
}

.committeeTableAssess2 .ant-table-cell-scrollbar {
  box-shadow: none !important;
}

/* Table Ant design Assess3 */
.committeeTableAssess3 .ant-table-title {
  background-color: #fbdb8a !important;
}

.committeeTableAssess3 .ant-table thead > tr > th {
  background-color: #fbdb8a !important;
}

.committeeTableAssess3 .ant-table-cell-scrollbar {
  box-shadow: none !important;
}

.ant-cascader-picker:hover .ant-input {
    border: 1.5px solid #f26843 !important;
}

.ant-cascader-picker:focus .ant-input {
    outline: none !important;
    box-shadow: 0 0 4px #f26843;
    border: 1.5px solid #f26843;
}

.textarea {
    background-color: #E7E5E3;
    border: 1px solid transparent;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.textarea:hover {
    border: 1.5px solid #f26843 !important;
}

.textarea:focus {
    outline: none !important;
    box-shadow: 0 0 4px #f26843;
    border: 1.5px solid #f26843;
}

.btn-modal-confirm {
  outline: none !important;
  border-radius: 20px;
  padding: 5px 25px;
  border: 1px solid transparent;
  background-color: #f6be32;
  color: black;
  cursor: pointer;
}

.btn-modal-confirm:hover {
    border: 1px solid #f6be32;
    background-color: white;
}

.btn-modal-confirm-Dis {
  border-radius: 20px;
  padding: 5px 25px;
  border: 1px solid #c6c6c6;
  background-color: #c6c6c6;
  color: white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.textbox {
    background-color: #E7E5E3;
}

.textbox:hover {
    border: 1.5px solid #f26843;
    background-color: #E7E5E3;
}

.textbox:focus {
    outline: none !important;
    box-shadow: 0 0 4px #f26843;
    border: 1.5px solid #f26843;
    background-color: #E7E5E3;
}

.editable-cell-value-wrap {
    position: relative;
}

.editable-cell-value-wrap:hover {
    border: 1.5px solid #f26843 !important;
}

.editable-row .editable-cell-value-wrap {
    border-radius: 4px;
    background-color: #E7E5E3;
    padding: 5px 12px;
    cursor: pointer;
}

[data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #434343;
}

.userguide_button, .userguide_button:focus  {
    border: grey solid 1.5px !important;
    color: grey;
}

.userguide_button:hover {
    border: #f26843 solid 1.5px !important;
    color: #f26843;
}
