.text-reset-password {
  color: black;
  cursor: pointer;
}

.text-reset-password:hover {
  text-decoration: underline;
}

.submitYellow {
  background-color: #ffd110;
  color: white;
  border: none;
  padding: 8px;
  font-size: 16px;
}

.submitYellow:hover {
  background-color: #bd9805;
  color: white;
  border: none;
  outline: none !important;
}

.password::placeholder {
  color: #d4d4d4;
}

.username::placeholder {
  color: #d4d4d4;
}

.form-control:focus {
    box-shadow: 0 0 4px #f26843;
    border: 1.5px solid #f26843 !important;
}
