.adminTable .ant-table thead > tr > th {
  background-color: #f26843 !important;
}

.adminTable .ant-table-cell-scrollbar {
  /* box-shadow: 0 1px 0 1px #f26843 !important; */
  box-shadow: none !important;
}

.adminButton .ant-input-group > .ant-input {
  background-color: #e9e9e9;
}
.adminButton .ant-btn {
  /* border-left: none; */
  background-color: #e9e9e9;
}

.deleteBtn:hover {
  color: #f26843;
}

.react-datepicker__close-icon::after {
  background-color: #ced2d8 !important;
}

/* .input-modal {
    border: 1.5px solid orange !important;
    border-radius: 5px;
    width: 100%;
} */

.input-modal:focus {
    outline: none !important
}

.btn-modal-cancel {
    border-radius: 20px;
    padding: 5px 25px;
    border: 1px solid #f26843;
    background-color: transparent;
}

.btn-modal-cancel:focus {
    outline: none !important
}

.btn-modal-confirm {
    border-radius: 20px;
    padding: 5px 25px;
    border: 1px solid transparent;
    background-color: #f26843;
    color: white;
}

.btn-modal-confirm:focus {
    outline: none !important
}

.select-modal {
    /* border-radius: 5px;
    /* padding: 5px 25px; */
    /* border: 1px solid orange;
    width: 100%; */ 
}

.select-modal:focus {
    /* outline: none !important */
}




